.articles > li {
    margin-bottom: 1rem;
}

:link{
    text-decoration: none;
    color: #F56565

}

:visited{
    color: #FEB2B2;

}

a:hover{
    color:#718096
}

.articles > li > h2 {
    margin-block-start:0;
    font-size: 1.4rem;
}

.articles > li > div > span {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #2D3748;
}


